[build]
  command = "npm run build"
  publish = "dist"
  functions = "api"

[functions]
  node_bundle = true

[[redirects]]
  from = "/api/*"
  to = "/api/:splat"
  status = 200

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[build.environment]
  NODE_VERSION = "18"
